
body {
	background-image: url("https://raw.githubusercontent.com/Samu100/WebProgrammingProjectC316/project2/Images/marble.png");
}

h1 {
  text-align: center;
  color: #D4AF37;
  margin-left: 30px;
}

h2 {
  text-align: center;
}

.subhead {
  text-align: center;
  color: rgb(17, 212, 115);
  font-family:Brush Script MT;
}

p {
  text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto
}

:any-link {
  color: gray;
}
a:hover {
  background-color: white;
}

#phoneNumber {
  font-style: italic;
}

.box{
	box-sizing: content-box;
	width: 300px;
	height: 300px;
	padding: 5px;
	margin: 5px;
	border: 2pt #D4AF37;
}
