body {
	background-image: url("https://raw.githubusercontent.com/Samu100/WebProgrammingProjectC316/project2/Images/marble.png");
}

h1 {
  color: #D4AF37;
  margin-left: 30px;
}

:any-link {
  color: gray;
}

div {
  width: 300px;
  border: 15px #D4AF37;
  padding: 20px;
  margin: 20px;
}